* {
	box-sizing: border-box;
	font-family: "Lucida Sans Unicode", sans-serif;
}

body {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.top {
	background-color: #add8e6;
	border: 3px solid #76bdd5;
	border-radius: 10px;
	text-align: center;
	width: 30em;
	margin-bottom: 2em
}

.hidden {
	display: none;
}

.input {
	width: 10em;
	height: 2.5em;
	background-color: #add8e6;
	border: 3px solid #76bdd5;
	border-radius: 10px;
	text-align: center;
	line-height: 2em;
}

.input:hover {
	background-color: #76bdd5;
}

.inline {
	display: inline;
}

table, td, tr {
	border: 1px solid black;
}

td {
	width: 60px;
	height: 20px;
}